#nav
	{
		list-style:none;
		padding:10px;
		margin-bottom:10px;
		font-weight:bold;
		float:left;
		width:100%;
		position:relative;

	}

#nav a
	{
	display:block;
	padding:5px;
	background-color:#a5d2b3;
	text-decoration:none;
	}


#nav li
	{
	float:left;
	margin-left:5px;
	position:relative;
	}

#nav ul
	{
	list-style:none;
	position:absolute;
	left:-9999px;
	margin-left:-45px;
	}

#nav ul li
	{
	padding-top:1px;
	float:none;
	}

#nav ul a
	{
	white-space:nowrap;
	}

#nav li:hover ul
	{
	left:0;
	}

#nav ul li:hover a
	{
		background:#6b0c36;
	}

#nav li:hover ul
	{
		text-decoration:none;
	}





a:link
	{
	color:#FFFFFF;
	background-color:#B4CDCD;
	text-decoration:none;
	padding:10px;
	}

a:hover
	{
	background-color:#6b0c36;
	}